.voice-master-navbar {
    background-color: #17a2b8!important;
}
.navbar-brand {
    color: #fff;
    font-family: fantasy;
}
.navbar-nav>li>a {
    color: #fff !important;;
}
.navbar-nav>li>a:focus, 
.navbar-nav>li>a:hover {
color:unset;
}
.loggedin-username {
    display: block;
}
/* Responsive css */
@media only screen and (min-width:320px) and (max-width:767px) {
	.loggedin-username {
        display: none;
    }
    .navbar-brand img {
        height: 25px;
    }
}