<div class="register-button" *ngIf="!registerOpen">
    <button class="btn btn-default" (click)="toggleRegister()">Register</button>
</div>

<div class="container" *ngIf="registerOpen">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form (ngSubmit)="registerUser()" #f="ngForm">
                <div id="userData" ngModelGroup="userData" #userData="ngModelGroup">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input class="form-control" type="text" id="firstName" name="firstName" ngModel #firstName="ngModel" required />
                    </div>
                    <p *ngIf="!firstName.valid && firstName.touched">
                        Please enter a valid first name!
                    </p>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input class="form-control" type="text" id="lastName" name="lastName" ngModel #lastName="ngModel" required />
                    </div>
                    <p *ngIf="!lastName.valid && lastName.touched">
                        Please enter a valid last name!
                    </p>
                    <div class="form-group">
                        <label for="email">Mail</label>
                        <input class="form-control" type="text" id="email" name="email" ngModel #email="ngModel" email required />
                    </div>
                    <p *ngIf="!email.valid && email.touched">
                        Please enter a valid email!
                    </p>
                    <div class="form-group">
                        <label for="secret">Secret Code</label>
                        <input class="form-control" type="text" id="secret" name="secret" ngModel #secret="ngModel" required />
                    </div>
                    <p *ngIf="!secret.valid && secret.touched">
                        Please enter a valid last secret!
                    </p>
                </div>
                <button [disabled]="!userData.valid || registerSuccess" id="register"  type="submit" class="btn btn-primary">
                    Register
                </button>
                <button id="cancel" type="button" class="btn btn-primary" (click)="onCancel()">
                    Cancel
                </button>

                <div id="sample-data">
                    <div class="col-xs-10" *ngIf="registerOpen">
                        <button [disabled]="!userData.valid || !registerSuccess" id="start-record" class="btn btn-primary" *ngIf="!isRecording" (click)="startRecording()">
                            Start Recording
                        </button>
                        <button id="stop-record" class="btn btn-primary" *ngIf="isRecording" (click)="stopRecording()">
                            Stop Recording
                        </button>
                        <p style="font-family: monospace">{{ recordTimer }}</p>
                         <ng-template [ngIf]="blobUrl">
                        <audio [src]="blobUrl" controls></audio>
                    </ng-template> 
                        <p *ngFor=" let sample of voiceSamples "> {{sample}}</p>
                        <ng-template id="samples " *ngFor="let voice of voiceSamples; let i=index ">
                            <p> voiceSamples :: {{ voice }}</p>
                        </ng-template>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>