.container {
    margin-top: 50px;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.register-button {
    position: absolute;
    top: 10px;
    right: 100px;
}

#cancel {
    margin-left: 10px;
}
.form-bg-left{
background-color: #17a2b8!important
}
/* #register {
    position: absolute;
    top: 370px;
    right: 100px;
}

#start-record {
    position: absolute;
    top: 5px;
    left: -1px;
}

#stop-record {
    position: absolute;
    top: 5px;
    left: -1px;
} */
.registration-section {
    align-items: center;
    justify-content: center;
}