/* Add application styles & imports to this file! */
@import "~bootstrap/dist/css/bootstrap.min.css";
.custom-table .p-paginator {
	font-size: 14px;
    text-align: right !important;
    display: block !important;
}

@media only screen and (min-width:320px) and (max-width:767px) {

	.info-section .p-overlaypanel .p-overlaypanel-close {
		z-index: 1;
	}
	.info-section .p-overlaypanel {
		width:310px !important
	}
	.p-datatable table {
		table-layout: auto !important;
	}
	.p-datatable-wrapper {
		overflow-x: auto;
	}
}