<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-md-12 alert text-center alert-warning" *ngIf="!(micAccess$ | async)">
            No microphone access! You need to give micphone access. (You may click refresh button to be prompted mic access pop up)
        </div>
    </div>
    <div class="row mt-2 loggedIn-user-section" *ngIf="userName">
        <div class="col-md-12" >
            <span class="fa fa-user-circle"></span><b> Welcome, {{userName}}</b>
        </div>
    </div>
<div class="row mt-3">
<div class="col-md-4 text-center ">
    <div class="border p-3 left-section">
        <i class="pi pi-info-circle" (click)="op.toggle($event)"></i>
        <div class="info-section">
        <p-overlayPanel class="command-overlay" #op [showCloseIcon]="true" [style]="{width: '450px'}">
            <ng-template pTemplate>
                <div class="commands-section">
                <ul>
                    <b>Try following commands after click on Activate:</b>
                    <li>Master, Hello</li>
                    <li>Master, My code is 123</li>
                    <li>Master, Show my acccount balance</li>
                    <li>Master, Show my bills</li>
                    <li>Master, Pay my electricity bill</li>
                    <li>Master, Show my transaction history</li>
                    <li>Master, Pay my all electricity bills</li>
                    <li>Master, Pay my electricity bill with consumer number 1001</li>
                    <li>Master, Thank you</li>
                    <li>Master, bye bye</li>
                </ul>
            </div>
            </ng-template>
        </p-overlayPanel>
    </div>
    <div *ngIf="!isRegisterOpen">
        <h5 class="listen-text mt-3">
            {{ state$ | async }}
        </h5>
        <div class="account-balance" *ngIf="isAccntBalance">
            Account Balance : <b>${{ accountBalance$ }} </b>
        </div>
    </div>
    <div class="voice-image">
        <!-- <img [ngClass]="getImageClass()" src="https://cdn2.vectorstock.com/i/thumb-large/72/11/female-cartoon-robot-vector-20707211.jpg" /> -->
        <img src="assets/voice.png" />
    </div>
    <div class="message-box">
        <h5 class="listen-text">Input: {{ message$ | async }}</h5>
    </div>
    <button type="button" class="btn btn-info activate" (click)="activate()">Activate</button>
  </div>
</div>
<div class="col-md-8">
    <div class="alert alert-info" role="alert">
        Pending bills and transaction history
    </div>
    <!-- Output messages -->
    <div class="output-msg" *ngIf="!billPaidStatus">
        <div [innerHTML]="outputMsg$"></div>
    </div>
    <div class="alert alert-success text-center" role="alert" *ngIf="billPaidStatus">
        <div> 
            <img src="./assets/success-icon-19.png" class="success-icon"/>
            <p>
                {{outputMsg$}}
            </p>
            </div>
    </div>
    <div class="phrase" *ngIf="phrase$ != null && !isVoiceAuthenticated$">
        <div class="alert alert-warning" role="alert">
           <span class="phrase-title">Phrase to read : </span>{{ phrase$ }}
          </div>
    </div>
    <!-- Table design start For Transaction History -->
    <div class="" *ngIf="isShown" id="divshow">
    <h5 class="table-title">Transaction history</h5>
 <p-table [value]="historyTransactions" class="custom-table" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 35%;">Description</th>
            <th style="width: 30%;">Transaction Date</th>
            <th style="width: 15%;" class="text-center">Amount($)</th>
            <th style="width: 20%;" class="text-center">Transaction Type</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-historyTransactions>
        <tr>
            <td>{{ historyTransactions.billname }}</td>
            <td>{{ historyTransactions.paidon }}</td>
            <td class="text-center">{{ historyTransactions.amount }}</td>
            <td class="text-center">{{ historyTransactions.type }}</td>
        </tr>
    </ng-template>
   
</p-table>
</div>
<!-- Table design end For Transaction History -->
<!-- Table design start For Pending bills -->
<div class="" *ngIf="isBillPending" id="showBills">
    <h5 class="table-title">Pending Bills</h5>
 <p-table [value]="pendingBills" class="custom-table" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="header">
        <tr>
            <th>Bill Name</th>
            <th>Amount($)</th>
            <th>Due Date</th>
            <th>Consumer Number</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pendingBills>
        <tr>
            <td>{{ pendingBills.pendingBillName | titlecase}}</td>
            <td>{{ pendingBills.billAmount }}</td>
            <td>{{ pendingBills.billDueDate }}</td>
            <td>{{ pendingBills.consumerId }}</td>
        </tr>
    </ng-template>
</p-table>
</div>
<!-- Table design end For Pending bills -->
</div>
</div>
</div>