.alert {
	padding: 10px 15px;
	background-color: aliceblue;
	border-radius: 5px;
	font-weight: bold;
}

h1 {text-align: center;}

.activate-button {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

@-moz-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.7;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.7;
	}
	100% {
		opacity: 1;
	}
}
/* IE */
@-ms-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.7;
	}
	100% {
		opacity: 1;
	}
}
/* Opera and prob css3 final iteration */
@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.7;
	}
	100% {
		opacity: 1;
	}
}

.image {
	height: 300px;
}

.active {
	-moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */
	-webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */
	-ms-animation: blink normal 2s infinite ease-in-out; /* IE */
	animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}

.inactive {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}

.message-box {
	font-size: large;
	padding: 15px 10px;
	margin-top: 20px;
	border-radius: 5px;
}

/* New css changes */
.phrase{
	font-size: 14px;
}
.phrase-title {
	color: skyblue;
}
.output-msg{
	color:#EE6518;
	font-style: italic;
	font-weight: 500;
	margin-bottom: 10px;
}
.account-balance {
	font-size: large;
}

.info-section {
	position: absolute;
    top: -86px;
    left: 0;

}
.info-section .p-overlaypanel-close {
	background:#17a2b8!important;
}
.voice-image img {
	margin-top: 20px;
	width: 230px;
	height: auto;
}
.listen-text {
    font-style: italic;
    color: #4A235A;
}
.commands-section {
	text-align: left;
}
.commands-section ul li{
font-family: 'Nunito', sans-serif;
font-family: 'Source Code Pro', monospace;
list-style-type: none;
font-size: 16px;
color:#2E054F;
}
.commands-section ul b {
	font-size: 16px;
}
.message-box {
	font-style: italic;
    color: #4A235A;
	font-size: 20px;
}
.activate {
	margin-top: 5px;;
}
.pi-info-circle {
	font-size: 2rem;
	position: absolute;
	right: 25px;
	top: 10px;
	cursor: pointer;
	color:#17a2b8;
}
.left-section{
	border-radius: 5px;
}
.p-overlaypanel {
	top: 10px !important;
}
.table-title {
	color:#17a2b8;
}
.ng-star-inserted th {
	background:aliceblue;
	padding:0.7rem 0.7rem;
}
.ng-star-inserted td {
	padding:0.5rem 0.5rem;
}
.custom-table tr td {
	font-size: 14px;
}