.alert {
	padding: 10px 15px;
	background-color: aliceblue;
	border-radius: 5px;
	font-weight: bold;
}

.activate-button {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

@-moz-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.7;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.7;
	}
	100% {
		opacity: 1;
	}
}
/* IE */
@-ms-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.7;
	}
	100% {
		opacity: 1;
	}
}
/* Opera and prob css3 final iteration */
@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.7;
	}
	100% {
		opacity: 1;
	}
}

.image {
	height: 300px;
}

.active {
	-moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */
	-webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */
	-ms-animation: blink normal 2s infinite ease-in-out; /* IE */
	animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}

.inactive {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}

.message-box {
	font-size: large;
	background-color: azure;
	padding: 15px 10px;
	margin-top: 20px;
	border-radius: 5px;
}

.account-balance {
	font-size: large;
	background-color: rgba(103, 241, 85, 0.692);	
	position: absolute;	
	right: 500px;	
}

table {
	border-collapse: collapse;
	table-layout: auto;
}
 
thead tr {
    height: 60px;
}
 
table, th, td {
    border: 1px solid #000000;
}
 
td {
    white-space: normal;
    max-width: 45%;
	width: 40%;
	table-layout: auto;
    word-break: break-all;
    height: 60px;
    padding: 10px;
}
tr:nth-child(even) {
    background: #ccc
}
 
tr:nth-child(odd) {
    background: #fff
}